In [1]:
#Perform the following operations using R/Python on suitable data sets,
#read data from different formats(like csv, xls),indexing and selecting data, sort data, describe attributes of data,
#checking data types of each column, counting unique values of data, format of each column,
#converting variable data type (e.g. from long to short, vice versa), identifying missing values
#and fill in the missing values

In [3]:
#read data from different formats(like csv, xls)
import pandas as pd
file = pd.read_csv("Heart.csv")
file.head()

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,1,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,2,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,3,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,4,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,5,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No

In [4]:
# indexing & selecting
file.iloc[2:4,1:]

,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
2,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No

In [5]:
# Sorting data by choleshrole
sorted_df = file.sort_values(by=["Chol"], ascending=True)
sorted_df

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
202,203,57,1,nonanginal,150,126,1,0,173,0,0.2,1,1.0,reversable,No
300,301,57,1,asymptomatic,130,131,0,0,115,1,1.2,2,1.0,reversable,Yes
93,94,44,0,nonanginal,108,141,0,0,175,0,0.6,2,0.0,normal,No
273,274,71,0,asymptomatic,112,149,0,0,125,0,1.6,2,0.0,normal,No
232,233,49,1,nonanginal,118,149,0,2,126,0,0.8,1,3.0,normal,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,174,62,0,asymptomatic,140,394,0,2,157,0,1.2,2,0.0,normal,No
121,122,63,0,asymptomatic,150,407,0,2,154,0,4.0,2,3.0,reversable,Yes
181,182,56,0,asymptomatic,134,409,0,2,150,1,1.9,2,2.0,reversable,Yes
48,49,65,0,nonanginal,140,417,1,2,157,0,0.8,1,1.0,normal,No
152,153,67,0,nonanginal,115,564,0,2,160,0,1.6,2,0.0,reversable,No

In [6]:
# Describe attributes of data,
file.describe()

,Unnamed: 0,Age,Sex,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,299.000000
mean,152.000000,54.438944,0.679868,131.689769,246.693069,0.148515,0.990099,149.607261,0.326733,1.039604,1.600660,0.672241
std,87.612784,9.038662,0.467299,17.599748,51.776918,0.356198,0.994971,22.875003,0.469794,1.161075,0.616226,0.937438
min,1.000000,29.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,1.000000,0.000000
25%,76.500000,48.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000
50%,152.000000,56.000000,1.000000,130.000000,241.000000,0.000000,1.000000,153.000000,0.000000,0.800000,2.000000,0.000000
75%,227.500000,61.000000,1.000000,140.000000,275.000000,0.000000,2.000000,166.000000,1.000000,1.600000,2.000000,1.000000
max,303.000000,77.000000,1.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,3.000000,3.000000

In [7]:
# checking data types of each column
file.dtypes

Unnamed: 0      int64
Age             int64
Sex             int64
ChestPain      object
RestBP          int64
Chol            int64
Fbs             int64
RestECG         int64
MaxHR           int64
ExAng           int64
Oldpeak       float64
Slope           int64
Ca            float64
Thal           object
AHD            object
dtype: object

In [8]:
#counting unique values of data
print("Total Unique Values: ")
file['MaxHR'].nunique()

Total Unique Values:

91

In [9]:
#format of each column
file.dtypes

Unnamed: 0      int64
Age             int64
Sex             int64
ChestPain      object
RestBP          int64
Chol            int64
Fbs             int64
RestECG         int64
MaxHR           int64
ExAng           int64
Oldpeak       float64
Slope           int64
Ca            float64
Thal           object
AHD            object
dtype: object

In [10]:
#converting variable data type (e.g. from long to short, vice versa)
file["Chol"] = file["Chol"].astype(str)
file["Oldpeak"] = file["Oldpeak"].astype(int)
file.dtypes

Unnamed: 0      int64
Age             int64
Sex             int64
ChestPain      object
RestBP          int64
Chol           object
Fbs             int64
RestECG         int64
MaxHR           int64
ExAng           int64
Oldpeak         int32
Slope           int64
Ca            float64
Thal           object
AHD            object
dtype: object

In [11]:
# identifying missing values and
file.isnull().sum()

Unnamed: 0    0
Age           0
Sex           0
ChestPain     0
RestBP        0
Chol          0
Fbs           0
RestECG       0
MaxHR         0
ExAng         0
Oldpeak       0
Slope         0
Ca            4
Thal          2
AHD           0
dtype: int64

In [12]:
a = file["Ca"].mean()
file.fillna(a,inplace = True)
file.isnull().sum()

Unnamed: 0    0
Age           0
Sex           0
ChestPain     0
RestBP        0
Chol          0
Fbs           0
RestECG       0
MaxHR         0
ExAng         0
Oldpeak       0
Slope         0
Ca            0
Thal          0
AHD           0
dtype: int64